@using Microsoft.AspNetCore.Identity


<ul class="navbar-nav ms-auto">
    @if (User.Identity.IsAuthenticated)
    {
        if (User.IsInRole("HR"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="HR" asp-action="Index"
                   title="Welcome">Welcome @User.Identity.Name!</a>
            </li>
        }

        if (!User.IsInRole("HR"))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-controller="User" asp-action="Index"
                   title="Welcome">Welcome @User.Identity.Name!</a>
            </li>
            
        }
        
        <li class="nav-item">
            <a class="nav-link text-white mx-2 btn btn-secondary" asp-controller="Authentication" asp-action="Logout">Logout</a>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-white btn btn-dark mx-2 px-2" asp-controller="Authentication"
               asp-action="Login">Login</a>
        </li>
    }
</ul>

